* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 183, 0, 0.801);
}

a:hover,
a:focus {
  color: aliceblue;
  outline: 0.5px solid rgb(255, 183, 0);
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

main {
  align-items: center;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 50px auto;
  font-weight: 200;
  font-size: 7.7em;
}

.video {
  width: 768px;
  max-width: 1024px;
}

.first-line {
  display: block;
  font-weight: 100;
  font-size: 0.27em;
  margin-bottom: 0;
}

.main-heading {
  font-weight: 900;
}

.content {
  margin: 100px auto 25px;
  background: linear-gradient(135deg, #111, #555);
  padding: 20px;
  border-radius: 15px;
  align-items: center;
}

.block-heading {
  margin: 35px;
  color: goldenrod;
}

.video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-item {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid rgba(255, 183, 0, 0.801);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 98%;
}

.description {
  padding: 15px;
  text-align: center;
}

.item-heading {
  margin: 20px;
  color: rgba(255, 183, 0, 0.801);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.contact-item {
  margin: 10px;
  font-size: 18px;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: white;
  transform: translateY(5px);
}

.award-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.award-item {
  max-width: 200px;
  max-height: 200px;
  align-items: center;
  margin: 5px;
}

.award-item img {
  width: 50%;
}

.award-item img:hover {
  transform: scale(3.5);
  transition: 0.3s ease-in;
}
@media (min-width: 1920px) {
  .video {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .video {
    width: 512px;
  }
  h1 {
    font-size: 6em;
  }
  .contact-item a {
    font-size: 16px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .award-item {
    max-width: 120px;
    max-height: 120px;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }
  .video {
    width: 310px;
  }

  h1 {
    font-size: 4em;
  }
  .contact-item a {
    font-size: 14px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .content,
  footer {
    margin-bottom: 15px;
  }
  .footer-image img {
    width: 75px;
  }
  .award-item {
    max-width: 80px;
    max-height: 80px;
  }
}
@media (max-width: 390px) {
  .video {
    width: 256px;
  }
  body {
    font-size: 10px;
  }
  .award-item {
    max-width: 50px;
    max-height: 50px;
  }
}
